body{
  margin:0px;
  padding:0px;
}
#background{
  background-image: url("background1.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* adjust this value as per your needs */
  filter: blur(8px);
}
#backButton{
  position:absolute;
  top:3%;
  background-color:#7a6a8b; 
  border: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "VT323",sans-serif;
  font-size: 30px;
}
#backButton:hover{
  background-color: rgb(106, 50, 119);
}
canvas {
    border: 1px solid #ad7e7e;
    margin-left: -288px;
    position:absolute;
    left : 50%;
    top:4%;
}
#background {
  z-index: 3;
}
#gameArea{
  z-index: 5;
}
#gameObjects {
  z-index: 4;
}
#gameOver {
  z-index: 1;
}
#titleScreen{
  z-index: 7;
}
#characterSelect{
  z-index : 2;
}
#score {
  width : 576px;
  height:80px;
  border: 1px solid #ad7e7e;
  background-color: #7a6a8b;
  position:absolute;
  margin-left:-288px;
  left:50%;
  margin-top:577px;
  top:4%;
  font-family: "VT323",sans-serif;
}
#scoreText {
  color:white;
  font-size: 45px;
  position: absolute;
  right: 5%;
  bottom: -45%;
}
#instructions {
  left:2%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: -25%

}
#heart1 {
  position:absolute;
  top: 35%;
  left: 5% ;
}
#heart2 {
  position:absolute;
  top: 35%;
  left: 15% ;
}
#heart3 {
  position:absolute;
  top: 35%;
  left: 25% ;
}

